.dock {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 16px;
  padding: 10px 20px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

.icon {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.github {
  font-size: 36px;
  background-color: black;
  border-radius: 50%;
}

.icon:hover {
  transform: scale(1.2);
}

.dock-icon {
  font-size: 36px;
  color: white;
}